h1{
	text-align: center;
	color: #0000FF;
	font-family: Verdana;
	font-size: 20pt;
}
h2{
	text-align: right;
	color: #800000;
	font-family: Verdana;
	font-size: 16pt;
}
p{
	text-align: justify;
	color: #191970;
	font-family: Arial;
	font-size: 12pt;
}
body{
	background-color: #99CCFF;
}
h3{
	text-align: left;
	color: 	#808080;
	font-family: Verdana;
	font-size: 14pt;
	border-style: dotted;
}
ol{
	list-style-type: upper-roman;
}
ul{
	list-style-image: url(spisok_1.gif);
}
.bac{
	background-image: url(fon9.jpg);
}
p{
	font-weight: bold;
}
h1.main, h1.golub, h1.krasn, h1.zelen, h1.oranzhev{
	color: navy;
	font-family: Veranda;
	text-align: left;
	font-size: 14pt;
}
h1.golub{
	color: blue;
}
h1.krasn{
	color: red;
}
h1.zelen{
	color: green;
}
h1.oranzhev{
	color: orange;
}
p.main, p.golub,p.krasn, p.zelen, p.oranzhev{
	color: navy;
	font-family: Veranda;
	text-align: center;
	font-size: 12pt;
}
p.golub{
	text-align: left;
	color: blue;
}
p.krasn{
	color: red;
	text-align: right;
}
p.zelen{
	color: green;
	text-align: left;
}
p.oranzhev{
	color:  orange;
	text-align: center;
}

